@model ResetPasswordVM
@{
    Layout = "_LoginRegisterLayout";
    ViewData["Title"] = "Reset Password";

}


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/images/about-01.jpg');"></div>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3 style="margin-top: 23px;">Reset Password</h3>
                    <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                    @if (ViewBag.Message != null)
                    {
                        <p class="text-success text-center mt-3">@ViewBag.Message</p>
                    }
                    <form asp-action="resetpassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="Token" type="hidden"/>
                        <input asp-for="Email" type="hidden"/>

                     

                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <div class="input-group">
                                <input asp-for="NewPassword" class="form-control" placeholder="Your Password">
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="togglePassword('Password')">
                                        <i class="icon-eye"></i>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>

                        </div>
                        <div class="form-group last mb-3">
                            <label asp-for="ConfirmPassword"></label>
                            <div class="input-group">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Your Password">
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="togglePassword('ConfirmPassword')">
                                        <i class="icon-eye"></i>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>


                        <button type="submit" class="btn btn-block btn-primary">Reset</button>
                        
                        <div class="text-center mt-4">
                            <a asp-action="Login" class="text-decoration-none fw-semibold" style=font-size: 1.1rem;">
                                <i class="bi bi-arrow-left"></i> Back to Login
                            </a>
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>




